asgiref==3.10.0
astroid==4.0.2
coverage==7.11.3
dill==0.4.0
Django==5.2.8
django-filter==25.2
djangorestframework==3.16.1
flake8==7.3.0
isort==7.0.0
mccabe==0.7.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.3
python-dotenv==1.2.1
sqlparse==0.5.3
tomlkit==0.13.3
